/*------------------------------------------------------------------
  	[Code]
------------------------------------------------------------------*/

.code-snippet {
	height: 400px;
	padding: 30px;
	line-height: 1.55;
	color: #9eb9ce;

	b{
		color: #6ea4cf;
	}

	span{
		margin-right: 5px;
		color: #8496a5;
	}
}